QComboBox {
    background-color: #fafafa;
    border: 0px;
    color: #1d1b20;
    padding-left: 27px;
    padding-right: 38px;
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 34px;
    border: none;
    background: transparent;
}
QComboBox::down-arrow {
    image: url(:/icons/light/combo_down.svg);
    width: 14px;
    height: 14px;
}
