QComboBox {
    background-color: #252b34;
    border: 0px;
    color: #e8edf2;
    padding-left: 27px;
    padding-right: 38px;
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 34px;
    border: none;
    background: transparent;
}
QComboBox::down-arrow {
    image: url(:/icons/dark/combo_down.svg);
    width: 14px;
    height: 14px;
}
